 <nav class="deep-purple lighten-1">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <!--menu pc-->
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">carrinho </a></li>
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
      
      <!-- botão pesquisa -->
      <div style="margin-right: 15px" class="container-btn-search right-align">
        <a id="btn-search"><i class="material-icons white-text light">search</i></a>
      </div>
      
      
      
    </div>
  </nav>
  <!-- container pesquisar -->
      <div id="container-search" class="max white container-search hide">
        <!--formulario de pesquisa-->
        
        <div class="row z-depth-4">
          <form class="col s12">
            <div class="row col s12">
          <div id="div-search" class="input-field col s10">
            <input id="pesquisar" type="text" class="validate" names="search">
            <label id="label-pesquisar" for="pesquisar">pesquisar</label>
            
            
          </div>
          <div id="div-submit" class="input-field col s1">
            <input style="display: none" id="submit" type="text" class="validate" names="search">
            <label for="submit"><i class="material-icons">search</i></label>
            
          </div>
          <div style="margin-top:25px" class="input-field col s1">
            <i id="container-close" class="material-icons white-text">close</i>
            
          </div>
        </div>
        </form>
        </div>
        <!--simulação dos resultados-->
        <ul id="results" style="">
        <li><a href="">iphone</a></li>
        <li><a href="">iphone</a></li>
        <li><a href="">iphone</a></li>
        <li><a href="">iphone</a></li>
        <li><a href="">iphone</a></li>
        </ul>
        
      </div>
      <!--fim container search-->
      

  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">carrinho <i class="material-icons right">shopping_cart</i></a></li>
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
  </ul>
  
  <!-- carrosel -->
  
  <div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!"><img src="b1.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="1.png"></a>
    <a class="carousel-item" href="#three!"><img src="b3.jpg"></a>
  </div>
  
  <!-- section produtos mais vendidos-->
  <div class="full products-container deep-purple">
    <h4 class="white-text light center-align">mais vendidos</h4>
    <div class="row products">
      <!-- pagína do produto 1-->
      <a href="#" class="">
        <div class="row col s6">
<!--alterar essa classe da div altera o tamanho do card-->
    <div class="col s12 m12 l12">
      <div class="card">
        <div class="card-image">
          <img src="b1.jpg">
          <a class="btn-floating halfway-fab waves-effect waves-light red accent-3"><i class="material-icons">add_shopping_cart</i></a>
        </div>
        <div class="card-content">
          <p class="truncate">I am a very simple card. I am good at containing small bits of information. I am conveni.</p>
        </div>
        <div class="card-action">
          <a class="btn waves-effect waves-light deep-purple" href="#">COMPRAR AGORA</a>
        </div>
      </div>
    </div>
  </div>
      </a>
      <!-- pagina produto 2 -->
      
      <a href="#" class="">
        <div class="row col s6">
    <!--alterar essa classe da div altera o tamanho do card-->
    <div class="col s12 m12 l12">
      <div class="card">
        <div class="card-image">
          <img src="1.png">
          <a class="btn-floating halfway-fab waves-effect waves-light red accent-3"><i class="material-icons">add_shopping_cart</i></a>
        </div>
        <div class="card-content">
          <p class="truncate">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a class="btn waves-effect waves-light deep-purple" href="#">comprar agora</a>
        </div>
      </div>
    </div>
  </div>
      </a>
      
      
      
      
      
      <!-- pagina produto 3 -->
      <a href="#" class="">
        <div class="row col s6">
        <!--alterar essa classe da div altera o tamanho do card-->
    <div class="col s12 m12 l12">
      <div class="card">
        <div class="card-image">
          <img src="1.png">
          <a class="btn-floating halfway-fab waves-effect waves-light red accent-3"><i class="material-icons">add_shopping_cart</i></a>
        </div>
        <div class="card-content">
          <p class="truncate">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a class="btn waves-effect waves-light deep-purple" href="#">comprar agora</a>
        </div>
      </div>
    </div>
  </div>
      </a>
      
      <!-- pagina produto 4 -->
      
      <a href="#" class="">
        <div class="row col s6">
          <!--alterar essa classe da div altera o tamanho do card-->
    <div class="col s12 m12 l12">
      <div class="card">
        <div class="card-image">
          <img src="1.png">
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
        </div>
        <div class="card-content">
          <p class="truncate">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a class="btn waves-effect waves-light deep-purple" href="#">comprar agora</a>
        </div>
      </div>
    </div>
  </div>
      </a>

    </div>
  </div>
  
  
  
  
  <!-- section produtos -->
  <div class="full products-container deep-purple">
    <h4 class="white-text light center-align">principais</h4>
    <div class="row products">
      <!-- pagína do produto 1-->
      <a href="#" class="">
        <div class="row col s6">
<!--alterar essa classe da div altera o tamanho do card-->
    <div class="col s12 m12 l12">
      <div class="card">
        <div class="card-image">
          <img src="b1.jpg">
          <a class="btn-floating halfway-fab waves-effect waves-light red accent-3"><i class="material-icons">add_shopping_cart</i></a>
        </div>
        <div class="card-content">
          <p class="truncate">I am a very simple card. I am good at containing small bits of information. I am conveni.</p>
        </div>
        <div class="card-action">
          <a class="btn waves-effect waves-light deep-purple" href="#">COMPRAR AGORA</a>
        </div>
      </div>
    </div>
  </div>
      </a>
      <!-- pagina produto 2 -->
      
      <a href="#" class="">
        <div class="row col s6">
    <!--alterar essa classe da div altera o tamanho do card-->
    <div class="col s12 m12 l12">
      <div class="card">
        <div class="card-image">
          <img src="1.png">
          <a class="btn-floating halfway-fab waves-effect waves-light red accent-3"><i class="material-icons">add_shopping_cart</i></a>
        </div>
        <div class="card-content">
          <p class="truncate">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a class="btn waves-effect waves-light deep-purple" href="#">comprar agora</a>
        </div>
      </div>
    </div>
  </div>
      </a>
      
      
      
      
      
      <!-- pagina produto 3 -->
      <a href="#" class="">
        <div class="row col s6">
        <!--alterar essa classe da div altera o tamanho do card-->
    <div class="col s12 m12 l12">
      <div class="card">
        <div class="card-image">
          <img src="1.png">
          <a class="btn-floating halfway-fab waves-effect waves-light red accent-3"><i class="material-icons">add_shopping_cart</i></a>
        </div>
        <div class="card-content">
          <p class="truncate">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a class="btn waves-effect waves-light deep-purple" href="#">comprar agora</a>
        </div>
      </div>
    </div>
  </div>
      </a>
      
      <!-- pagina produto 4 -->
      
      <a href="#" class="">
        <div class="row col s6">
          <!--alterar essa classe da div altera o tamanho do card-->
    <div class="col s12 m12 l12">
      <div class="card">
        <div class="card-image">
          <img src="1.png">
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
        </div>
        <div class="card-content">
          <p class="truncate">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a class="btn waves-effect waves-light deep-purple" href="#">comprar agora</a>
        </div>
      </div>
    </div>
  </div>
      </a>


<!-- pagina produto 5 -->
      
      <a href="#" class="">
        <div class="row col s6">
          <!--alterar essa classe da div altera o tamanho do card-->
    <div class="col s12 m12 l12">
      <div class="card">
        <div class="card-image">
          <img src="1.png">
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
        </div>
        <div class="card-content">
          <p class="truncate">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a class="btn waves-effect waves-light deep-purple" href="#">comprar agora</a>
        </div>
      </div>
    </div>
  </div>
      </a>

    </div>
  </div>
  
  <!--footer-->
          <footer class="page-footer deep-purple">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
            
  
  
  
  
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
    var sidenav = document.querySelectorAll('.sidenav');
    
    var carousel = document.querySelectorAll('.carousel');
    var optionsCarousel = {fullWidth: true, duration: 200, indicators: true};
    
    M.Carousel.init(carousel, optionsCarousel);
    let timer = setInterval(()=>{
      let instanceCarousel = M.Carousel.getInstance(carousel[0]);
      
      instanceCarousel.next();
    },3000)
    
    M.Sidenav.init(sidenav);
    
    
    
    //abrir e fechar container pesquisar
    let btn_search = document.getElementById("btn-search");
    let container_search = document.getElementById("container-search");
    let container_close = document.getElementById("container-close");
    
    btn_search.addEventListener("click", ()=>{
      container_search.classList.remove("hide");
      
    })
    container_close.addEventListener("click", ()=>{
      container_search.classList.add("hide");
      container_close.classList.add("close-anim");
    })
  });
  </script>