<div class="row">
    <form method="POST" action="cadastro-user" enctype="multipart/form-data" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="last_name" type="file" class="validate" name="imagem">
          <label for="last_name">Last Name</label>
        </div>
        <div class="input-field col s6">
          <button class="btn btn-float blue" id="last_name" type="submit" class="validate">enviar</button>
        </div>
      </div>
      
    </form>
  </div>